@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212125;
  --foreground: #ffffff;
  --font-outfit: "Outfit", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
  
.font-outfit {
  font-family: var(--font-outfit);
}
  
.font-poppins {
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}
  